input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 10px 20px 0 rgba(153, 153, 153, 0.25);
    padding: 0.75rem;
}
.card-form {
    padding: 2rem 1rem 0;
    padding-top: 0;
}

.input {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding-top: 1.5rem;
}
.input + .input {
    margin-top: 1.5rem;
}
.input-label {
    color: #8597a3;
    position: absolute;
    top: 1.5rem;
    transition: 0.25s ease;
}
.input-field {
    border: 0;
    z-index: 1;
    background-color: transparent;
    border-bottom: 2px solid #eee;
    font: inherit;
    font-size: 1.125rem;
    padding: 0.25rem 0;
}
.input-field:focus,
.input-field:not(:placeholder-shown) {
    outline: 0;
    border-bottom-color: #13a0d8;
}
.input-field:focus + .input-label,
.input-field:not(:placeholder-shown) + .input-label {
    color: #13a0d8;
    transform: translateY(-1.5rem);
}

.action {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
}
.btn-action {
    font: inherit;
    width: 50%;
    font-weight: 500;
    background-color: #13a0d8;
    border-radius: 6px;
    color: #ffffff;
    border: 0;
}
.btn-action:focus {
    outline: 0;
}
